# Byte-code files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
# Specific to some virtual environment tools
.python-version # pyenv
__pypackages__/ # pyflow

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl

# Testing and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
nosetests.xml
coverage.xml

# IDE specific files
# PyCharm
.idea/
# VS Code
.vscode/
# Sublime Text
*.sublime-workspace
*.sublime-project

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log